<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource=""/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"></setting>
    </settings>
<!--    <typeAliases>-->
<!--        <package name="com.powernode.crm.settings.pojo"/>-->
<!--    </typeAliases>-->
<!--    <mappers>-->
<!--        <package name="com.powernode.crm.settings.mapper"/>-->
<!--    </mappers>-->
</configuration>